node_modules
/package-lock.json
/pnpm
/npx
dist
build
coverage
.turbo
*.tsbuildinfo
.tsbuildinfo
.env
.env.local
.env.*.local
npm-debug.log*
pnpm-debug.log*
.DS_Store
.npm
.pnpm-store
.pnpm-debug.log
.pnpm
.vite
.cache
.vscode/*
!.vscode/extensions.json
